/* General */


@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;

}

body{
    font-family: 'Poppins', sans-serif;
}

html{
    scroll-behavior: smooth;
}

p{
    color: rgb(85, 85, 85);
}

/* TRANSITION */
a, .btn {
    transition: all 300ms ease;
}

/* DESKTOP */
nav, .nav-links{
    display: flex;
}

nav {
    justify-content: space-around;
    align-items: center;
    height: 18vh;
}

.nav-links{
    gap: 3rem;
    list-style: none;
    font-size: 1.5rem;
}

a{
    color: black;
    text-decoration: none;
    text-decoration-color: white;
}

a:hover {
    color: orange;
    text-decoration: none;
}

.logo{
    font-size: 2rem;
}

.logo:hover{
    cursor: default;
}

/* HAMBURGER MENU */
#hamburger-nav {
    display: none;
}

.hamburger-menu{
    position: relative;
    display: inline-block;
}

.hamburger-icon{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span{
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;

}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit-content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a{
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: black;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li{
    list-style: none;
}

.menu-links.open{
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* SECTION */

section{
    padding: 4vh;
    height: 96vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
}

.section-container {
    display: flex;
}
.section__pic-container{
    width: 100%;
    height: 75vh;
    width: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profile-img{
    display: flex;
    height: 75vh;
    width: 100vh;
    border-radius: 50%;
}

/* PROFILE */

#profile{
    display: flex;
    justify-content: center;
    gap: 5rem;
    height: 80vh;
}

.section__pic-container {
    display: flex;
    height: 400px;
    width: 400px;
    margin: auto 0;
}

.section__text {
    align-self: center;
    text-align: left;
    margin-right: 10rem;
}

.section__text p{
    font-weight: 500;
    text-align: left;
}

.section__text__p1{
    text-align: center;
}
.section__text__home{
    text-align: left;
}
.section__text__p1-exp{
    text-align: center;
}
.profile-img{
    height: 400px;
    width: 400px;
    display: flex;
}
.title{
    font-size: 2rem;
    text-align: center;
}
.title-home{
    font-size: 2rem;
    text-align: left;
}
.title-exp{
    font-size: 2.5rem;
    text-align: center;
}

#social-container {
    display: flex;
    justify-content: left;
    margin-top: 1.5rem;
    gap: 5rem;
}

/* ICONS */

.icon{
    cursor: pointer;
    height: 2rem;
    gap: 3rem;

}


/* BUTTONS */

.btn-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.btn {
    font-weight: 600;
    transition: all 300ms ease;
    padding: 0.5rem;
    width: 8rem;
    border-radius: 2rem;
    margin-right: 2rem;
}

.btn-color-1, .btn-color-2 {
    border: orange 0.1rem solid;
}
.btn-color-1:hover, 
.btn-color-2:hover {
    cursor: pointer;
}
.btn-color-2:hover {
    background: orange;
    color: white;
}
.btn-color-1{
    background: orange;
    color: white;
}

.btn-color-2{
    background: none;
    color: orange;
}

.btn-color-2:hover{
    border: rgb(255,255, 255) 0.1rem solid;
}

.btn-container-home{
    margin-top: 1rem;
    gap: 10rem;
    margin-bottom: 1rem;
    justify-content: left;
}

/* ABOUT */

#about{
    position: relative;
    margin-top: 5rem;
}

.about-container{
    gap: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border-radius: 2rem;
    border: rgb(53, 53, 53);
    border-color: rgb(163, 163, 163);
}

.about-details-container{
    justify-content: left;
    flex-direction: column;
}

.about-container, .about-details-container{
    display: flex;
}

.about-pic {
    border-radius: 50%;
    height: 275px;
    width: 275px;

}
.text-container{
    margin-top: -1.5rem;
}

.arrow {
    position: absolute;
    right: -5rem;
    bottom: 15rem;
}

.details-container{
    padding: 1.5rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    text-align: left;
}
.details-container-edu{
    
    padding-bottom: 1rem;
    flex: 1;
    background: white;
    border-radius: 2rem;
    text-align: left;
}
.details-container-edu h3{
    color: orange
}

.section-container {
    gap: 4rem;
    height: 80%;
}

.about__pic-container{
    align-items: center;
    padding-top: 2.5rem;
}
.skills{
    text-align: left;
}

/* EXPERIENCE */

#experience{
    margin-top: -5rem;
    position: relative;
}

.experience-sub-title{
    color: orange;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: left;
}

.experience-sub-title-ui{
    color: orange;
    font-weight: 600;
    font-size: 1.5rem;
    margin-bottom: 4.2rem;
    
}

.experience-details-container{
    margin-top: -1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.article-container{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 1rem;
}
.article-container-img{
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1.5rem;
    margin-top: 1rem;
}

article{
    display: flex;
    width: 10rem;
    gap: 1rem;
}

.article-icon{
    cursor: default;
}

/* PROJECTS */

#projects{
    position: relative;
    margin-top: 15rem;
}


.project-img{
    margin-top: -1.3rem;
    margin-left: 0.4rem;
    width: 300px;
    height: 400px;
    justify-content: center;
    border-radius: 1rem;
}

.project-title{
    margin: 1rem;
    color: black;
    justify-content: center;
}
.project-sub-title{
    color: black;
    font-weight: 600;
    font-size: 1.5rem;
    text-align: center;
    margin-top: 1rem;
}
.project-btn{
    color: orange;
    border-color: orange;
}
.project-btn-container{
    padding-bottom: -2rem;
    display: flex;
    justify-content: center;
    
}

/* CONTACTS */

#contact {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    margin-top: 5rem;
}

.contact-info-upper-container{
    display: flex;
    justify-content: center;
    margin: 2rem auto;
    padding: 0.5rem;
    gap: 5rem;

}

.contact-info-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    margin: 1rem;
}

.contact-info-container p {
    font-size: larger;
}

.contact-icon
{
    cursor: default;
    height: 2rem;
}

.mail-icon{
    height: 2.5rem;
}

/* FOOTER */

#footer {
    height: 26vh;
    margin: 0;
}

.footer p {
    text-align: center;
}